.btn {
  padding: 8px 10px;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: #ccc;
  color: #fff;
}

.danger {
  background-color: #f15a5a;
}

.info {
  background-color: #5acef1;
}

.success {
  background-color: #5af17b;
}
