*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: $paragraph-font;
}

.clearfix:after,
.clearfix:before {
  display: table;
  content: "";
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  margin: 0;
}

p {
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}
